<!DOCTYPE html>
<html>
<head>
  <title>Detalles de la Cotización</title>
</head>
<body>
  <div class="container mt-5">
    <div class="mt-5">
      <h1>Detalles de la Cotización</h1>
      <h3>Destino: <%= quote.destination %></h3>
      <p>Fechas: <%= quote.dates %></p>
      <p>Pasajeros: <%= quote.passengers %></p>
      <p>Precio: <%= quote.price %> USD</p>
      <a class="btn btn-primary" href="/customization/<%= quote.id %>">Personalizar Cotización</a>
    </div>
  </div>
</body>
</html>
